header {
  text-align: center;
  padding: 30px 0;
  background: rgba(0,0,0,0.6);
}

.logo {
  margin: 0;
}

.logo img {
  height: 50px;
  width: auto;
}
nav {
  margin-top: 20px;
}

nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #C8A951;
}

